* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: white;
    --bg-url: url('./Assets/bg-mobile.jpg');
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(255, 255, 255, 0.1);
    --hight-light-color: rgba(255, 255, 255, 0.2);
    --switch-bg: url('./Assets/moon-stars.svg');
}

.light{
    --text-color: black;
    --bg-url: url('./Assets/bg-mobile-light.jpg');
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --hight-light-color: rgba(0, 0, 0, 0.1);
    --switch-bg: url('./Assets/sun.svg');
}

body{
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container{
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

#profile{
    text-align: center;
}

#profile img{
    width: 112px;
}

#profile p {
    font-weight: 500;
    line-height: 25px;
}

#switch{
    position: relative;
    width: 64px;
    margin: 4px auto;
}

.light #switch button{
    animation: slide-in 0.3s forwards;
}

#switch button{
    width: 32px;
    height: 32px;
    background: white var(--switch-bg) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute;

    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    animation: slide-back 0.2s;
}

#switch button:hover{
    outline: 8px solid var(--hight-light-color);
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 9999px;
}

ul{
    list-style: none;
    padding: 25px 0px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 25px;
    background-color: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: background 0.3s;
    text-decoration: none;
}

ul li a:hover{
    background-color: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

#social-links {
    display: flex;
    justify-content: center;

    padding: 25px 0px;
    font-size: 25px;
}

#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

    transition: background 0.2s;
    border-radius: 50%;
}

#social-links a:hover{
    background-color: var(--hight-light-color);
}

footer {
    text-align: center;
    padding: 25px 0px;
    font-size: 13px;
}

@media (min-width: 700px){
    :root{
        --bg-url: url("./Assets/bg-desktop.jpg");
    }
    .light{
        --bg-url: url("./Assets/bg-desktop-light.jpg");
    }
}

@keyframes slide-in{
    from{
        left: 0;
    }
    to{
        left: 50%;
    }
}

@keyframes slide-back{
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}